@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.IPreviewImage {
  justify-content: center;
  width: 100%;

  @include d.flex($ali: center);

  &-image {
    position: relative;

    width: 550px;
    height: auto;
    min-height: 320px;
    padding: v.$padding;

    border-radius: v.$radius;
    box-shadow: v.$sha1 inset;

    &__progress {
      height: 100%;
      background-color: v.$tn3;
    }

    img {
      width: 100%;
      height: 100%;

      opacity: 0.9;
      object-fit: cover;
      object-position: 20% 20%;
      filter: brightness(0.9);
      border-radius: v.$radius;
    }
  }

  &-actions {
    justify-content: center;
    width: 100%;

    @include d.flex($ali: center, $dir: row);

    button {
      padding: v.$padding * 0.5 v.$padding;
      border-radius: 5px;
      box-shadow: v.$sha1;

      @include v.hoverS(0.95);
    }

    button:first-child {
      color: v.$bg1;
      background-color: v.$tn1;
    }

    button:last-child {
      color: v.$fn1;
      background-color: v.$bg1;
    }
  }
}
