@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;
@use '@/sass/utils/scrollbar';

.dsRS {
  &Nav {
    @extend %scroll-hidden;
    @include d.flex;
    @include v.border;
    border-radius: v.$radius;
    height: 100%;
    min-width: 300px;
    overflow: auto;
    padding: v.$padding;
    width: 300px;
    &-link {
      width: 270px;
      border-radius: v.$radius / 2;
      background-color: v.$bg3;
      @include d.flex($ali: center);
      padding: v.$padding;
      @include v.hoverS($scale: 0.98);
    }
    &-title {
      width: 270px;
      @include d.flex($gap: v.$padding * 0.5);
      padding: v.$padding;
      h2,
      p {
        text-align: center;
      }
    }
  }
}
