@use '@/sass/utils/media' as m;

@include m.bigScreen() {
  .dashboard-body.trsDashboard .dsRSNav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: auto;
    min-width: 100%;
    height: max-content;
    overflow: visible;
    align-items: flex-start;
    img {
      height: 100%;
    }
  }
}
