@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;

.bigButton {
  width: 100%;
  background-color: v.$tn1;
  @include d.flex($ali: flex-start);
  padding: v.$padding * 2 v.$padding;
  border-radius: v.$radius * 0.5;
  h2 {
    color: v.$bg1;
  }
  h4 {
    text-align: left;
    color: v.$bg3;
  }
}
