@use '@/sass/utils/media' as m;

@include m.extraLargeScreen() {
  .dashboard-body.trsDashboard {
    flex-direction: column-reverse;
    .dsRSNav {
      height: fit-content;
      overflow: visible;
    }
  }
}
