@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.dPublicationFilters {
  width: 100%;
  padding: v.$padding;

  @include d.flex($dir: row);

  &-filter {
    padding: 10px;
    background-color: v.$bg2;
    border-radius: 5px;

    &.active {
      color: v.$bg1;
      background-color: v.$tn1;
    }
  }
}
