@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;
@use '@/sass/config/index' as i;

.dsNav {
  @include d.flex($ali: center);
  height: fit-content;
  width: 50px;
  max-width: 60px;
  @include v.border();
  padding: v.$padding * 4 v.$padding;
  border-radius: v.$radius;
  z-index: i.$nav;
  box-shadow: v.$sha1;
  &-item {
    padding: 8px;
    border-radius: 4px;
    &.active {
      background-color: v.$tn1;
      color: v.$bg1;
    }
  }
  &,
  &-hamburger {
    transition: all 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  }
  &-hamburger {
    z-index: i.$nav;
    position: absolute;
    @include v.border;
    visibility: hidden;
    opacity: 0;
    bottom: 30px;
    left: -50px;
    padding: 5px;
    border-radius: 5px;
  }
}
