@use '@/sass/config/vars' as v;

@mixin textGradient($gr: v.$gr1) {
  background: $gr;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin pointers() {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
