@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;

.dsb {
  &RecentTransform {
    @include d.flex($dir: row);
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    &,
    &-item {
      padding: v.$padding;
    }
    &-item {
      @include d.flex($dir: row, $ali: center);
      background-color: v.$bg2;
      border-radius: v.$radius;
      .icon {
        background-color: v.$bg3;
        border-radius: 5px;
        box-sizing: content-box;
        display: block;
        height: 30px;
        padding: 10px;
        width: 30px;
      }
      &__info {
        @include d.flex($gap: 5px);
        text-align: center;
        p {
          width: 200px;
        }
      }
    }
  }
}
