@use '@sass/utils/media' as m;

@include m.mediumScreen {
  .dsbRecentTransform-item {
    overflow: hidden;
    flex-direction: column;
    width: 170px;

    &__info p {
      width: 100%;
    }
  }
}

@include m.smallScreen {
  .dsbRecentTransform {
    align-items: center;
    justify-content: center;
  }
}
