@use '@sass/utils/media' as m;

@include m.bigScreen {
  .dashboard-body.trsDashboard .dsRSNav {
    overflow: visible;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    min-width: 100%;
    height: max-content;
    min-height: auto;

    img {
      height: 100%;
    }
  }
}
