@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.dPublication {
  @include v.border(v.$bg2);
  @include d.flex($ali: flex-start);

  width: fit-content;
  height: fit-content;
  padding: v.$padding;
  border-radius: v.$radius;

  &-image {
    height: 200px;
    object-fit: cover;
    border-radius: v.$radius;
  }

  &-transformation {
    padding: 5px 8px;
    background-color: v.$bg3;
    border-radius: 3px;
  }

  &-user {
    img {
      border-radius: 50%;
    }

    @include d.flex($dir: row);
  }
}
