@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;
@use '@/sass/utils/scrollbar' as *;

.dashboard {
  padding: v.$padding;
  width: 100%;
  height: 100%;
  @include d.flex();
  &-container {
    @include d.flex($dir: row, $ali: center);
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  &-body {
    @include d.flex($ali: center);
    @include v.border();
    background-color: blue;
    border-radius: v.$radius;
    height: 100%;
    justify-content: flex-start;
    overflow: scroll;
    padding: v.$padding 10%;
    width: 100%;
    @extend %scroll-hidden;
  }
}
