@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.animatedBorderBox {
  position: relative;

  overflow: hidden;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 3px;

  border: 2px dotted v.$bg3;
  border-radius: 10px;

  &::before,
  &::after {
    content: '';

    position: absolute;

    display: block;

    width: 500px;
    height: 100%;

    opacity: 0;

    transition: opacity 300ms;
    animation-play-state: paused;
  }

  &::before {
    transform: rotate(0deg) translateY(50%);
    background: linear-gradient(90deg, v.$tn1 0%, v.$bg3 20%, transparent);
    animation: rotation_left 5000ms infinite linear;
  }

  &::after {
    transform: rotate(0deg) translateY(-50%);
    background: linear-gradient(90deg, transparent, v.$bg3 80%, v.$tn1 100%);
    animation: rotation_right 5000ms infinite linear;
  }

  &:has(.animatedBorderBox-content.active) {
    &::before {
      opacity: 1;
      animation-play-state: running;
    }

    &::after {
      opacity: 1;
      animation-play-state: running;
    }
  }

  &-content {
    @include d.flex($ali: center);

    z-index: 1;

    width: 100%;
    height: 100%;
    padding: v.$padding;

    border-radius: v.$radius;
  }

  @include d.flex($ali: center, $gap: 0);
}

@keyframes rotation_left {
  0% {
    transform: rotate(0deg) translateY(50%);
  }

  100% {
    transform: rotate(360deg) translateY(50%);
  }
}

@keyframes rotation_right {
  0% {
    transform: rotate(0deg) translateY(-50%);
  }

  100% {
    transform: rotate(360deg) translateY(-50%);
  }
}
